@font-face {
    font-family: "Sora SemiBold";
    src: url("../plugin/font/Sora/Sora-SemiBold.ttf");
}
@font-face {
    font-family: "Dosis SemiBold";
    src: url("../plugin/font/Dosis/Dosis-SemiBold.ttf");
}
@font-face {
    font-family: "Dosis Regular";
    src: url("../plugin/font/Dosis/Dosis-Medium.ttf");
}
$font-title: "Sora SemiBold";
$font-content: "Dosis Semibold";
