* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    font-weight: normal;
}

/* header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 100;
    background-color: white;
}
#header .container-fluid {
 background-color: white;
 border-bottom: 1px solid #e9e9e9;

}
#header a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

#header .nav_logo {
    padding: 14px;
}

#header .nav_logo a:link {
    text-decoration: none;
    text-align: center;
}

#header .nav_logo a {
    font-family: "Lucida Bright";
    padding: 12px;
    margin-left: 50px;
}

#header .nav_left {
    display: grid;
    place-content: center center;
}

#header .nav_left_item>div {
    float: left;
    padding: 10px 20px;
}

#header .nav_left a:link {
    text-decoration: none;
}

#header .nav_left_item div {
    position: relative;
}

#header .nav_left_item div::before {
    content: "";
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: black;
    transition: 0.4s;
}

#header .nav_left_item .active-item::before {
    width: 100%;
}

#header .nav_left_item div:hover::before {
    width: 100%;
}

#header .nav_right {
    grid-column: 3;
    padding: 10px !important;
    float: right;
}

#header .nav_right>div {
    display: inline;
    float: left;
}

#header .search input {
    margin-top: 0px !important;
    width: 100%;
    border-radius: 3px 0 0 3px;
}

#header .login a:nth-child(1) {
    margin-left: 60px;
}

#header .login a:nth-child(2) {
    margin-left: 40px;
}

#header .nav_right .login a {
    position: relative;
}

#header .nav_right .login a::before {
    content: "";
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    position: absolute;
    background: black;
    transition: 0.4s;
}

#header .nav_right .active-item::before {
    width: 100%;
}

#header .nav_right .login a:hover::before {
    width: 100%;
}
 /* footer */
 #footer {
    background-color: #f7f7f7;
}

#footer>div {
    padding: 20px 60px;
}

#footer .grid-footer {
    display: grid;
    grid-template: auto/repeat(4, 1fr);
    grid-gap: 60px;
    padding: 10px;
    list-style: none;
}

#footer h5 {
    font-weight: 600;
}

#footer .copy {
    padding-top: 38px;
    margin-top: 28px;
    font-size: 12px;
    color: #acacac;
    border-top: 1px solid #bbb;
}